@import "../../common/styles/Variablies";

.productComponent {
  position: relative;
  width: 100%;
  margin: 100px;
  padding-top: 50px;

  .back {
    position: absolute;
    top: -50px;
    @include text(25px, 25px);
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 600;
    cursor: pointer;
  }

  .img {
    width: 650px;
    height: 100%;
    margin-right: 30px;
    object-fit: contain;
  }

  .name {
    @include text(64px, 96px);
  }

  .price {
    font-weight: 500;
    @include text(64px, 96px);
  }

  .button {
    @include squareSize(85px);
    border-radius: 20px !important;
  }

  .icon {
    @include squareSize(65px);
  }
}