$textColor: #414141;
$secondTextColor: #fff;
$bgColor: #FFCC26;
$secondBgColor: #FBFBFB;

$headerHeight: 100px;

@mixin squareSize($size) {
  width: $size;
  height: $size;
}

@mixin text($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}