@import "../../styles/Variablies";

.button {
  background-color: $bgColor !important;
  border-radius: 5px !important;
  z-index: 10;
  @include squareSize(31.5px);

  &:hover {
    background-color: $bgColor;
  }

  .active {
    color: $textColor;
  }

  .disabled {
    color: $secondTextColor;
  }
}