@import "../../styles/Variablies";

.ItemComponent {
  display: flex;
  border-radius: 30px;

  .zoomIconBox {
    position: relative;
    width: 100%;
    text-align: center;

    .zoomIcon {
      position: absolute;
      @include squareSize(50px);

    }
  }

  .infoBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .priceBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}