@import "../../common/styles/Variablies";

.favoritesComponent {
  width: 30%;
  margin-top: 100px;
  padding-left: 100px;

  .favoritesBox {
    border: 2px dashed $textColor;
    border-radius: 30px;
    width: 407px;
    height: 90%;

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 45px 0 27px 30px;
    }

    .list {


      .favoriteItemComponent {
        background-color: $secondBgColor;
        padding: 11px 15px;
        margin: 0 30px;
      }

      .img {
        width: 108px;
        height: 108px;
        border-radius: 30px;
        margin-right: 10px;
      }

      .name {
        font-size: 16px;
        line-height: 24px;
      }

      .button {
        width: 26px;
        height: 26px;
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }




}