@import "../../common/styles/Variablies";

.favoritesComponent {
  width: 30%;
  margin-top: 100px;
  padding-left: 100px;

  .favoritesBox {
    border: 2px dashed $textColor;
    border-radius: 30px;
    width: 407px;
    height: 90%;

    .title {
      font-weight: 600;
      @include text(24px, 36px);
      font-family: 'Anek Telugu', sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 45px 0 27px 30px;
    }

    .list {
      .favoriteItemComponent {
        background-color: $secondBgColor;
        padding: 11px 15px;
        margin: 0 30px;
      }

      .img {
        @include squareSize(108px);
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
      }

      .name {
        @include text(16px, 24px);
      }

      .price {
        font-weight: 500;
        @include text(20px, 30px);
      }

      .button {
        @include squareSize(26px);
      }

      .icon {
        @include squareSize(20px);
      }
    }
  }
}